# Youtube spam

dataset source: https://archive.ics.uci.edu/ml/datasets/YouTube+Spam+Collection#

## Carga de datos con read_csv

In [1]:
import pandas as pd
import urllib3
import csv, openpyxl, xlwt

In [2]:
mainpath = "/home/nicolasterroni/projects/cursos/curso_ML_udemy/python-ml-course/datasets/"
filename = "youtube_spam/Youtube04-Eminem.csv"

In [3]:
df = pd.read_csv(mainpath+filename)

## Conversion a otros formatos

In [4]:
#df.to_csv(mainpath + "youtube.csv")
#df.to_excel(mainpath + filename +".xlsx")
#df.to_json(mainpath + filename + ".json")

## Analisis del dataset

##### Representa comentarios en yt e identifica spam con el binario en la columna class

In [26]:
num_row = df.shape[0]
num_columns = df.shape[1]

print(f"Filas: {num_row}")
print(f"Columnas: {num_columns}")

Filas: 448
Columnas: 5

In [27]:
df.columns.values

array(['COMMENT_ID', 'AUTHOR', 'DATE', 'CONTENT', 'CLASS'], dtype=object)

In [28]:
df.dtypes

COMMENT_ID    object
AUTHOR        object
DATE          object
CONTENT       object
CLASS          int64
dtype: object

In [29]:
df.head(10)

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z12rwfnyyrbsefonb232i5ehdxzkjzjs2,Lisa Wellas,NaN,+447935454150 lovely girl talk to me xxxï»¿,1
1,z130wpnwwnyuetxcn23xf5k5ynmkdpjrj04,jason graham,2015-05-29T02:26:10.652000,I always end up coming back to this song<br />ï»¿,0
2,z13vsfqirtavjvu0t22ezrgzyorwxhpf3,Ajkal Khan,NaN,"my sister just received over 6,500 new <a rel=...",1
3,z12wjzc4eprnvja4304cgbbizuved35wxcs,Dakota Taylor,2015-05-29T02:13:07.810000,Coolï»¿,0
4,z13xjfr42z3uxdz2223gx5rrzs3dt5hna,Jihad Naser,NaN,Hello I&#39;am from Palastineï»¿,1
5,z133yfmjdur4dvyjr04ceh2osl2fvngrqi4,Darrion Johnson,2015-05-29T01:27:30.360000,Wow this video almost has a billion views! Did...,0
6,z12zgrw5furdsn0sc233hfwavnznyhicq,kyeman13,NaN,Go check out my rapping video called Four Whee...,1
7,z12vxdzzds2kzzrzq04cdjc4ozq2szuyl5o,Damax,2015-05-29T00:41:22.426000,Almost 1 billionï»¿,0
8,z12gxdortqzwhhqas04cfjrwituzghb5tvk0k,Muhammad Asim Mansha,NaN,Aslamu Lykum... From Pakistanï»¿,1
9,z132wd4ywmicxj2gn04cdfhilyryjhmjhk00k,JuanPa Rap,2015-05-28T23:23:41.231000,Eminem is idol for very people in EspaÃ±a and M...,0

In [30]:
df.tail(10)

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
438,z12msjqximryxdfz104cjhbhtw2ld5ipsh4,SIR JOHN,2015-05-07T02:28:12.704000,EMINEM the best EVER.ï»¿,0
439,LneaDw26bFvn1m3oQLlCgsaxLcEy_eMQzcK9NAbyaew,M.E.S,NaN,hey guys look im aware im spamming and it piss...,1
440,LneaDw26bFv4NFg1m91sL1Aq1p-2N06VweQT4vOwTqc,Ando Nesia - | MC | Music Producer,NaN,DO YOU KNOW HOW SEAN KINGSTON GOT FAMOUS WHY D...,1
441,z12wvru4rzf5jx0wj04cgx5q1qi1w554ba0,Erin Williams,2015-05-06T17:19:21.193000,Best. Song. EVER ðŸ™Œï»¿,0
442,LneaDw26bFsVQRSG0ecctIfRIn4Od1tJqvnhDwCNqbI,the34104,NaN,check out eminem latest track survival if u didnt,1
443,LneaDw26bFu3RCmyrWyP9S6wh1h9dBv3X95g1HzKAb4,Dany PK,NaN,SUBSCRIBE TO MY CHANNEL X PLEASE!. SPARE,1
444,LneaDw26bFsD65dtIvAEObWYIYnFTqQDKBek_Ypz3J8,SmexyFriedChicken,NaN,Check out my videos guy! :) Hope you guys had ...,1
445,LneaDw26bFuvs-8oWkLpAFa6g3QHpWD8k7sbbMP3Bg8,The Guy That's Done Everything,NaN,3 yrs ago I had a health scare but thankfully ...,1
446,z12hfp2wmyuqztkw504cgblyxtbsxjuzeow0k,Jesse Pinkman,2015-05-06T11:42:44.601000,Rihanna looks so beautiful with red hair ;)ï»¿,0
447,z13tsbc5vvn0hdozz04chjt51lq1cvris0k,Gaming Gaming,2015-05-06T10:56:35.972000,857.482.940 views AWESOME !!!!!!!!!!!!!!!!!!!!...,0

In [31]:
df.describe()

            CLASS
count  448.000000
mean     0.546875
std      0.498354
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

## Valores faltantes

In [39]:
pd.isnull(df['DATE']).values.ravel().sum()

245

In [40]:
pd.notnull(df['DATE']).values.ravel().sum()

203