# Youtube spam

dataset source: https://archive.ics.uci.edu/ml/datasets/YouTube+Spam+Collection#

## Carga de datos con read_csv

In [14]:
import pandas as pd
import urllib3
import csv, openpyxl, xlwt

In [15]:
mainpath = "/home/nicolasterroni/projects/cursos/curso_ML_udemy/python-ml-course/datasets/"
filename = "youtube_spam/Youtube04-Eminem.csv"

In [16]:
df = pd.read_csv(mainpath+filename)

## Conversion a otros formatos

In [17]:
#df.to_csv(mainpath + "youtube.csv")
#df.to_excel(mainpath + filename +".xlsx")
#df.to_json(mainpath + filename + ".json")

## Analisis del dataset

##### Representa comentarios en yt e identifica spam con el binario en la columna class

In [18]:
num_row = df.shape[0]
num_columns = df.shape[1]
columns = []
for col in df.columns:
    columns.append(col)

print(f"Filas: {num_row}")
print(f"Columnas: {num_columns}")
columns

Filas: 448
Columnas: 5

['COMMENT_ID', 'AUTHOR', 'DATE', 'CONTENT', 'CLASS']

In [19]:
df.head(10)

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z12rwfnyyrbsefonb232i5ehdxzkjzjs2,Lisa Wellas,NaN,+447935454150 lovely girl talk to me xxx﻿,1
1,z130wpnwwnyuetxcn23xf5k5ynmkdpjrj04,jason graham,2015-05-29T02:26:10.652000,I always end up coming back to this song<br />﻿,0
2,z13vsfqirtavjvu0t22ezrgzyorwxhpf3,Ajkal Khan,NaN,"my sister just received over 6,500 new <a rel=...",1
3,z12wjzc4eprnvja4304cgbbizuved35wxcs,Dakota Taylor,2015-05-29T02:13:07.810000,Cool﻿,0
4,z13xjfr42z3uxdz2223gx5rrzs3dt5hna,Jihad Naser,NaN,Hello I&#39;am from Palastine﻿,1
5,z133yfmjdur4dvyjr04ceh2osl2fvngrqi4,Darrion Johnson,2015-05-29T01:27:30.360000,Wow this video almost has a billion views! Did...,0
6,z12zgrw5furdsn0sc233hfwavnznyhicq,kyeman13,NaN,Go check out my rapping video called Four Whee...,1
7,z12vxdzzds2kzzrzq04cdjc4ozq2szuyl5o,Damax,2015-05-29T00:41:22.426000,Almost 1 billion﻿,0
8,z12gxdortqzwhhqas04cfjrwituzghb5tvk0k,Muhammad Asim Mansha,NaN,Aslamu Lykum... From Pakistan﻿,1
9,z132wd4ywmicxj2gn04cdfhilyryjhmjhk00k,JuanPa Rap,2015-05-28T23:23:41.231000,Eminem is idol for very people in España and M...,0